html body{
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 96.7vh;
   background-color: #FFDAB9;
}
header{
    border: 1px;
    border-style: solid;
    border-color: azure;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C4;
}
.cabecalho{
    width: 70%;
    height: 80px;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 451px;
    background-color: rgb(246, 208, 159);
}
main {
    border: 1px;
    border-style: solid;
    width: 100%;
    height: 719px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEBCD;
}
footer {
    border: 1px;
    border-style: solid;
    border-color: aqua;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.principal{
    width: 80%;
    height: 95%;
    border: 1px;
    border-style: solid;
}
img{
    width: 100px;
    height: 90px;
    background-size: cover;
    box-shadow: black 5px 0.3px 10px 2px;
    border-radius: 50%;
    opacity: 1;
    transition: background 
}
.artCentralizado{
    display:flex;
    justify-content: center;
}
.distribuida{
    display: flex;
    justify-content: space-evenly;
}
.artPocao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 60x;
    height: 70px;
    transition: background 0.3s ease ,transform 0.3s ease;
    background-color: white;
}
.artPocao:hover{
    background-color: rgb(235, 234, 234)
    animation: growAndRotate 0.5 ease-in-out infinite alternate;
}

@keyframes growAndrotate{
0%{
    transform: scale(1) rotate(0deg);
}
100%{
    transform: scale(1.08) rotate(3deg);
}
}